<H1>form builder goes here</H1>
<form *ngIf="pageItems" [formGroup]="formDraft" (ngSubmit)="onFormSubmit()">
  <div [ngClass]="{'govuk-form-group':true, 'govuk-form-group--error' : useValidation && formDraft.invalid }">
    <h1 class="govuk-heading-xl">
      <span *ngIf="pageItems.caption" [class]="pageItems.caption.classes">{{ pageItems.caption.text }}</span>
      {{pageItems.header}}
    </h1>
    <div class="govuk-form-group" *ngFor="let group of pageItems.groups">
      <app-fieldset *ngIf="group.fieldset"
                    [classes]="'govuk-fieldset'"
                    [group]="formDraft"
                    [data]="group.fieldset"
                    [validate]="useValidation">
      </app-fieldset>
      <app-jui-form-elements [group]="formDraft" [validate]="useValidation" [data]="group"></app-jui-form-elements>
    </div>
  </div>
</form>
